<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="manifest" href="site.webmanifest">
		<link rel="apple-touch-icon" href="icon.png">
		<!-- Place favicon.ico in the root directory -->

		<link rel="stylesheet" href="/public/css/main.css">
	</head>
	<body>
		<!--[if lte IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<div>
			<form method="POST">
				<label>
					<span>Username</span>
					<input type="text" name="username">
				</label>
				<% if(errors.length > 0){ %>
					<% for(var i=0; i < errors.length; i++) { %>
						<div class="alert alert-danger alert-dismissable">
							<!-- <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> -->
							<%= errors[i]; %>
						</div>
					<% } %>
				<% } %>
			</form>
			<div>
				<p>Username must be unique. If there is another player with the same username already joined in, you will have to change the username.</p>
			</div>
		</div>
	</body>
</html>