<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Factions Resource Game</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="manifest" href="site.webmanifest">
		<link rel="apple-touch-icon" href="icon.png">
		<!-- Place favicon.ico in the root directory -->

		<link rel="stylesheet" href="/public/css/main.css">

		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/public/js/phaser3.js"></script>
		<script type="text/javascript" src="/public/js/rexui.js"></script> <!--https://raw.githubusercontent.com/rexrainbow/phaser3-rex-notes/master/dist/rexuiplugin.min.js -->
		<script type="text/javascript" src="/public/js/main.js"></script>
		<script type="text/javascript">
			var socket = io();
			socket.on('already_connected', function(data){
				console.log(data);
			});
			socket.on('update', function(data){
				console.log(data);
			});
			socket.emit('user_connected', {});
		</script>
	</head>
	<body>
		<!--[if lte IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		<![endif]-->
		<div id="gameCanvas"></div>

	</body>
</html>